@import '../../scss/mixins.scss';

.wrapper {
  @include full-window;

  background: linear-gradient(255.35deg, #c99d9d 0.83%, rgb(134 134 134) 108.93%), var(--gradient-red);
}

.mainButton {
  width: 200px;
  min-height: 55px;
  border: 1px solid var(--white);
  border-radius: 6px;
  color: var(--white);
  font-size: 16px;
  margin-right: 30px;
  line-height: 24px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: var(--black);
    background-color: var(--white);
  }

  &:disabled {
    background-color: var(--gray-light);
    border-color: var(--gray-light);

    &:hover {
      color: var(--white);
    }
  }
};
