@import '../../scss/mixins.scss';

.search {
  margin-top: 40px;
  margin-bottom: 15px;
}

.searchInput {
  margin-right: 30px;
  @include text-input;
}

.searchButton {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 50px;
  background-color: #EEF0F2;
  cursor: pointer;

  &:hover {
    background: var(--border);
  }

  &Accent {
    color: var(--white);
    background: linear-gradient(255.35deg, var(--gradient-red-darker) 0.83%, rgba(255, 79, 79, 0) 108.93%), var(--gradient-red);
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: var(--red);
    }
  }
}
