@import '../../scss/mixins.scss';

.error {
  @include full-window;

  flex-direction: column;
}

.errorText {
  font-size: 40px;
}

.closeButton {
  @include gradient-button;

  width: 200px;
  padding: 12px;
  font-size: 24px;
  margin-top: 20px;
}
